@import "normalize";

$tablecloth-rows: 12;
$tablecloth-columns: 12;
$tablecloth-width: 61.8%;
$tablecloth-height: 36rem;
$col-width: 100% / $tablecloth-columns;
$row-height: $tablecloth-height / $tablecloth-rows;

@mixin tablecloth-init() {
  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }
}

@mixin tablecloth-container() {
  position: absolute;
  height: $tablecloth-height;
  width: $tablecloth-width;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@mixin tablecloth-position($left, $right, $top, $bottom, $margins...) {
  position: absolute;;
  left: $left * $col-width;
  top: $top * $row-height;
  right: ($tablecloth-columns - $right) * $col-width;
  bottom: ($tablecloth-rows - $bottom) * $row-height;
  height: auto;
  width: auto;

  @if length($margins) == 1 {
    $margin-width: nth($margins, 1) * $col-width;
    $margin-height: nth($margins, 1) * $row-height;

    margin: $margin-height $margin-width;
  }

  @if length($margins) == 2 {
    $margin-width: nth($margins, 1) * $col-width;
    $margin-height: nth($margins, 2) * $row-height;

    margin: $margin-height $margin-width;
  }

  @if length($margins) == 4 {
    margin-left: nth($margins, 1) * $col-width;
    margin-right: nth($margins, 2) * $col-width;
    margin-top: nth($margins, 3) * $row-height;
    margin-bottom: nth($margins, 4) * $row-height;
  }
}
