@import "normalize";

$tablecloth-rows: 8;
$tablecloth-columns: 8;
$tablecloth-width: 100%;
$tablecloth-height: 100%;
$col-width: $tablecloth-width / $tablecloth-columns;
$row-height: $tablecloth-height / $tablecloth-rows;

@mixin tablecloth-init() {
  * {
    box-sizing: border-box;
  }

  html, body {
    height: $tablecloth-height;
    width: $tablecloth-width;
  }
}

@mixin tablecloth-container() {
  display: block;
  @include tablecloth-position(1, 8, 1, 8, 0);
}

@mixin tablecloth-position($left, $right, $top, $bottom, $margins...) {
  position: absolute;

  @if length($margins) == 1 {
    $margin-width: nth($margins, 1) * $col-width;
    $margin-height: nth($margins, 1) * $row-height;

    left: ($left - 1) * $col-width - $margin-width;
    top: ($top - 1) * $row-height - $margin-height;
    margin: $margin-height $margin-width;
    width: _dimension($left, $right) * $col-width - 2 * $margin-width;
    height: _dimension($top, $bottom) * $row-height - 2 * $margin-height;;
  }

  @if length($margins) == 2 {
    $margin-width: nth($margins, 1);
    $margin-height: nth($margins, 2);

    margin: $margin-height $margin-width;
    width: _dimension($left, $right) * $col-width - 2 * $margin-width;
    height: _dimension($top, $bottom) * $row-height - 2 * $margin-height;;
  }

}

@function _dimension($x1, $x2) {
  @return $x2 - $x1 + 1;
}
